<div class="wrapper">
	<div class="header">
		<div class="header-title">
			{{ title | uppercase }}
		</div>
	</div>
	<div class="game">
		<form class="game-row"
			[formGroup]="inputGroup" 
			(change)="handleInputChange()" 
			*ngFor="let row of rows"
			>
			<input 
				type="text" 
				maxlength="1"
				formControlName="char" 
				*ngFor="let col of columns"
				[ngClass]="answers[row][col]?.present ? 'present' : null"
				[ngClass]="answers[row][col]?.onPosition ? 'on-position' : null"
				>
		</form>
	</div>
</div>